.fll {
    float: left;
}

.flr {
    float: right;
}

.clearfix {
    &::after {
        content: '';
        display: block;
        clear: both;
    }
}

a{
    text-decoration: none;
    // color: #fff;
}

// 表格全局样式
.table-item-img {
    width: 80px;
    height: 80px;
}